html,
body,
div,
span,
img,
dl,
dt,
dd,
ol,
ul,
li,
table,
tr,
th,
td,
form,
input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "微軟正黑體", Arial, Calibri, Verdana, Geneva, sans-serif;
}

body {
    background: rgb(24, 24, 24);
    color: #f2f2f2;
    letter-spacing: .1rem;
}

a {
    color: #ababab;
    text-decoration: underline;
}

a:hover {
    color: #868686;
    text-decoration: underline;
}

p {
    word-wrap: break-word;
    word-break: normal;
    line-height: 1.5;
}

.ml-1 {
    margin-left: 1rem;
}

.logo {
    width: 8em;
    height: 3.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../images/logo_black.png);
    background-size: 8em 3.5em;
    text-align: center;
    line-height: 5em;
    font-size: 28px;
}

#fullpage {
    max-height: 100vh;
}

.people-info {
    display: inline-block;
    font-size: 1em;
    margin: 0;
    font-weight: bold;
}

.chef {
    border: 0;
    border-style: solid;
    border-color: green;
    padding: 0px;
    margin: 0px;
}

.nav-logo {
    position: absolute;
    width: 80px;
    overflow: hidden;
    top: 16px;
    left: 40px;
    display: flex;
    z-index: 2;
}

.nav-logo img {
    width: 100%;
}

@media (max-width: 576px) {
    .nav-logo {
        top: 14px;
        width: 64px;
    }

}

.scm {
    position: absolute;
    right: 80px;
    display: flex;
    z-index: 2;
}

.scm a {
    display: block;
    color: #fff;
    font-size: 28px;
    padding: 20px 10px;
}

.scm a:hover {
    color: rgb(184, 184, 184);
}

@media (max-width: 992px) {
    .scm a {
        font-size: 26px;
    }
}

@media (max-width: 576px) {
    .scm {
        right: 60px;
    }

    .scm a {
        font-size: 26px;
        padding: 10px 10px;
    }

}

.section h2 {
    margin: 40px;
}

@media (max-width: 576px) {
    .section h2 {
        margin: 20px;
    }

}

@media (max-width: 376px) {
    .section h2 {
        margin-top: -4px;
    }

}

.section-img {
    height: 100vh;
    width: 100%;
    background-image: url(../images/cover.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    /* transition: 5s;
    animation-name: myAnimation;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
    animation-duration: 15s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite; */
}

/* @keyframes myAnimation {
    50% {
        background-image: url(../images/field.png);
    }

    99.99% {
        background-image: url(../images/grass.jpeg);
    }
} */


.section-imgtext>div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.section-imgtext--img {
    width: 35%;
    height: 100%;
    overflow: hidden;
}

.section-imgtext--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.section-imgtext--text {
    width: 65%;
    height: 100%;
    max-height: 100%;
    /* overflow-y: hidden; */
    text-align: center;
}

.section-imgtext--text>div {
    padding: 12px;
}

@media (max-width: 992px) {
    .section-imgtext--img {
        width: 100%;
        height: 25%;
        order: 0;
    }

    .section-imgtext--text {
        width: 100%;
        height: 75%;
        order: 1;
        margin-top: 24px;
        margin-bottom: 48px;
    }
}

@media (max-width: 768px) {
    .section-imgtext--img {
        height: 0;
    }
}

.section-text {
    position: relative;
    padding: 24px;
    text-align: center;
}

.section-text .fp-overflow {
    overflow-y: initial;
}

.section-text h2 {
    margin-top: -80px;
    margin-bottom: 120px;
}

@media (max-width: 992px) {
    .section-text .fp-overflow {
        overflow-y: hidden;
    }

    .section-text h2 {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media (max-width: 376px) {
    .section-text h2 {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

#res-intro .text {
    line-height: 3rem;
}

@media (max-width: 768px) {
    #res-intro .text {
        line-height: 1.6rem;
        font-size: 14px;
    }

}

#sec_team>div {
    width: 75%;
    margin: 0 auto;
}

#sec_team>div>div>div {
    padding: 32px;
}
#sec_team>div>div>div>p {
    margin-bottom: 8px;
}
@media (max-width: 576px) {
    #sec_team>div {
        width: 100%;
    }
    #sec_team>div>div>div {
        width: 120px;
        padding: 14px;
        font-size: 12px;
    }
    #sec_team>div>div>div>p {
        margin-bottom: 4px;
    }
}

@media (max-width: 376px) {
    #sec_team>div>div>div {
        width: 95px;
        font-size: 10px;
    }
}

#chef {
    background: #000000;
    width: 880px;
    max-width: 90%;
    max-height: 750px;
}

#chef h2 {
    margin-bottom: 24px;
}

.chef-intro {
    margin-bottom: 50px;
    display: flex;
}

.chef-intro--img {
    width: 150px;
    height: 150px;
    background: #ababab;
    overflow: hidden;
    margin-right: 32px;
    flex: 0 0;
    flex-basis: 150px;
}

.chef-intro--text {
    flex-shrink: 1;
}

@media (max-width: 768px) {
    #chef {
        padding: 24px;
    }

    .chef-intro {
        flex-wrap: wrap;
        justify-content: center;
    }

    .chef-intro--img {
        margin-bottom: 20px;
    }

}

.note {
    color: rgb(228, 228, 228);
    font-size: 0.8em;
    text-align: left;
    max-width: 600px;
    max-height: 340px;
    overflow-y: scroll;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
    border: 1px solid rgb(58, 58, 58);
    padding: 20px;
    z-index: 1;

}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .7);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

@media (max-width: 576px) {
    .note {
        width: 90%;
        height: 200px;
        margin: 0 auto;
        margin-top: 30px;
    }
}

@media (max-width: 376px) {
    .note {
        height: 170px;
    }
}

.map {
    width: 400px;
    height: 240px;
}

@media (max-width: 576px) {
    .map {
        width: 300px;
        height: 150px;
    }

}

#goReserve {
    width: 64px;
    position: fixed;
    right: 16px;
    bottom: 84px;
    box-shadow: #000000;
    cursor: pointer;
    z-index: 2;
}

#goReserve:hover {
    bottom: 86px;
}

#goReserve img {
    width: 100%;
}

@media (max-width: 992px) {
    #goReserve {
        width: 56px;
    }

}

#goTop {
    background: rgba(255, 255, 255, 0.198);
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px #000000;
    font-size: 12px;
}
@media (max-width: 992px) {

    #goTop {
        width: 44px;
        height: 44px;
        line-height: 44px;
        font-size: 10px;
    }

}
footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    padding: 12px;
    font-size: 10px;
    color: #a0a0a0;
    text-align: center;
}

footer a {
    color: #a0a0a0;
    text-decoration: none;
    font-weight: bold;
}


/* scroll-down-animation */
#scroll-down-animation {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#scroll-down-animation h2 {
    color: #fff;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 200;
    font-size: 12px;
}

.mouse {
    margin: 10px auto;
    display: block;
    border-radius: 50px;
    border: 2px solid #fff;
    height: 50px;
    width: 30px;
    position: relative;
}

.move {
    position: absolute;
    background-color: #fff;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation: move 2s linear infinite;
}

@keyframes move {
    0% {
        transform: translate(-50%, 10px);
        opacity: 0;
    }

    50% {
        transform: translate(-50%, 40px);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, 40px);
        opacity: 0;
    }
}

.fp-watermark {
    display: none;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #ffffff;
}