html,
body,
div,
span,
img,
dl,
dt,
dd,
ol,
ul,
li,
table,
tr,
th,
td,
form,
input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: "微軟正黑體", Arial, Calibri, Verdana, Geneva, sans-serif;
}

body {
    background: rgb(24, 24, 24);
    color: #ffffff;
    letter-spacing: .1rem;
}
p{
    word-wrap:break-word; 
    word-break:normal;
    line-height:1.5;
}
.ml-1{
    margin-left: 1rem;
}
.logo {
    width: 8em;
    height: 3.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../images/logo_black.png);
    background-size: 8em 3.5em;
    text-align: center;
    line-height: 5em;
    font-size: 28px;
}
.people-info {
    display: inline-block;
    font-size: 1em;
    margin: 0;
    font-weight: bold;
}
.chef {
    border: 0;
    border-style: solid;
    border-color: green;
    padding: 0px; 
    margin: 0px; 
}
.more {
    padding: 0px;
    margin: 0em;
}
.scm{
position: absolute;
right: 90px;
display: flex;
z-index: 2;
}
.scm a{
    display: block;
    color: #fff;
    font-size: 28px;
    padding: 30px 10px;
}
.scm a:hover {
    color: rgb(184, 184, 184);
}
@media (max-width: 992px) {
    .scm a{
        font-size: 26px;
        padding: 32px 10px;
    }
}
.section-img {
    background: url(../images/mountain.png);
    background-position: center center;
    background-size: cover;
    position: relative;
}

.section-imgtext {}

.section-imgtext>div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}

.section-imgtext--img {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.section-imgtext--img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.section-imgtext--text {
    width: 50%;
    height: 100%;
    text-align: center;
}

.section-imgtext--text div {
    padding: 24px;
}

.section-imgtext--text h2 {
    margin-top: 56px;
}

@media (max-width: 992px) {
    .section-imgtext--img {
        width: 100%;
        height: 50%;
        order: 0;
    }

    .section-imgtext--text {
        width: 100%;
        height: 50%;
        order: 1;
    }
    .section-imgtext--text h2 {
        margin-top: 32px;
    }
    
}

.section-text {
    position: relative;
    padding: 24px;
    text-align: center;
}
#goReserve {
    background: rgba(255, 255, 255, 0.198);
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 150px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px #000000;
    font-size: 12px;
}
#goTop {
    background: rgba(255, 255, 255, 0.198);
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    box-shadow: 0 0 10px #000000;
    font-size: 12px;
}

footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    padding: 12px;
    font-size: 10px;
    color: #a0a0a0;
    text-align: center;
}

footer a {
    color: #a0a0a0;
    text-decoration: none;
    font-weight: bold;
}


/* scroll-down-animation */
#scroll-down-animation {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

#scroll-down-animation h2 {
    color: #fff;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-weight: 200;
    font-size: 12px;
}

.mouse {
    margin: 0 auto;
    display: block;
    border-radius: 50px;
    border: 2px solid #fff;
    height: 50px;
    width: 30px;
    position: relative;
}

.move {
    position: absolute;
    background-color: #fff;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation: move 2s linear infinite;
}

@keyframes move {
    0% {
        transform: translate(-50%, 10px);
        opacity: 0;
    }

    50% {
        transform: translate(-50%, 40px);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, 40px);
        opacity: 0;
    }
}

.fp-watermark {
    display: none;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #ffffff;
}
